In [1]:
import numpy as np
import pandas as pd

In [20]:
!ls

Untitled.ipynb                   metadata2591417845339055027.json
data146958525671496898.csv       metadata8239816293348713475.json
data2109531610229734832.csv

In [21]:
df = pd.read_csv("./income_data.csv")
df.head()

,est_prsnl_inc_third_quartile_pr100,slct_gov_pnsn_alw_pnsn_dva_num,est_p_inc_tot_own_unincorporated_bsns_inc_aud,est_prsnl_inc_lo_quartile_pr100,lga_code17,gross_capital_gains_rep_taxpayers_med_aud,tot_p_inc_wkly_p_ov_15_yrs_p_earn_aud1_499wk_pr100,est_p_inc_tot_inc_earners_excl_gov_pnsn_alw_med_age_yrs,slct_gov_pnsn_alw_fam_tax_bft_b_num,equiv_tot_hsld_inc_fam_lone_p_grp_hslds_med_wkly_aud,...,est_p_inc_investment_inc_earners_num,est_p_inc_own_unincorporated_bsns_inc_earners_med_age_yrs,tot_p_inc_wkly_p_ov_15_yrs_p_earn_aud500_999wk_pr100,est_p_inc_med_super_annuity_inc_aud,yr,tot_p_inc_wkly_p_ov_15_yrs_p_earn_aud2000_2999wk_pr100,est_prsnl_inc_hi_quartile_pr100,est_p_inc_med_own_unincorporated_bsns_inc_aud,est_p_inc_emply_inc_earners_num,est_p_inc_avg_emply_inc_aud
0,27.5,316.0,109457331.0,24.8,10050,1961.0,30.2,43.0,3149.0,776,...,20093.0,49.0,27.1,15610.0,2016,3.3,19.9,12133.0,25821.0,50857.0
1,23.4,108.0,57068263.0,29.5,10130,1833.0,32.4,45.0,1683.0,744,...,11201.0,53.0,25.2,19341.0,2016,3.7,18.5,7434.0,13844.0,47386.0
2,22.6,478.0,134232566.0,30.0,10250,3467.0,32.2,48.0,2417.0,745,...,18510.0,51.0,27.8,20784.0,2016,3.2,18.6,12443.0,19767.0,48108.0
3,28.9,7.0,14754147.0,25.3,10300,2120.0,25.9,45.0,117.0,710,...,781.0,50.0,28.8,13125.0,2016,2.9,14.9,20961.0,966.0,42262.0
4,26.0,145.0,71312446.0,23.8,10470,2127.0,28.5,44.0,2432.0,817,...,15045.0,51.0,24.6,17334.0,2016,4.1,24.0,8815.0,19871.0,54554.0

In [5]:
df.columns

Index(['est_prsnl_inc_third_quartile_pr100', ' slct_gov_pnsn_alw_pnsn_dva_num',
       ' est_p_inc_tot_own_unincorporated_bsns_inc_aud',
       ' est_prsnl_inc_lo_quartile_pr100', ' lga_code17',
       ' gross_capital_gains_rep_taxpayers_med_aud',
       ' tot_p_inc_wkly_p_ov_15_yrs_p_earn_aud1_499wk_pr100',
       ' est_p_inc_tot_inc_earners_excl_gov_pnsn_alw_med_age_yrs',
       ' slct_gov_pnsn_alw_fam_tax_bft_b_num',
       ' equiv_tot_hsld_inc_fam_lone_p_grp_hslds_med_wkly_aud',
       ' slct_gov_pnsn_alw_newstart_alw_num',
       ' est_p_inc_investment_inc_earners_med_age_yrs',
       ' est_p_inc_tot_investment_inc_aud',
       ' slct_gov_pnsn_alw_age_pnsn_dva_num',
       ' gross_capital_gains_rep_taxpayers_p_num',
       ' est_p_inc_avg_tot_inc_excl_gov_pnsn_aud',
       ' slct_gov_pnsn_alw_carer_payment_num',
       ' est_prsnl_inc_second_quartile_pr100',
       ' est_p_inc_tot_inc_excl_gov_pnsn_aud',
       ' est_p_inc_super_annuity_inc_earners_num',
       ' est_prsnl_inc_p20_p50_ratio',
       ' est_p_inc_investment_inc_asmnsrc_inc_pr100',
       ' tot_p_inc_wkly_p_ov_15_yrs_p_earn_aud1000_1999wk_pr100',
       ' est_prsnl_inc_gini_coefficient_num', ' ogc_fid',
       ' est_p_inc_avg_investment_inc_aud', ' est_p_inc_med_emply_inc_aud',
       ' est_p_inc_avg_super_annuity_inc_aud',
       ' slct_gov_pnsn_alw_fam_tax_bft_num', ' lga_name17',
       ' est_p_inc_tot_super_annuity_inc_aud',
       ' gross_capital_gains_rep_taxpayers_avg_aud',
       ' slct_gov_pnsn_alw_yth_alw_full_time_studts_apprentices_num',
       ' slct_gov_pnsn_alw_dsblty_supp_pnsn_num',
       ' est_p_inc_own_unincorporated_bsns_inc_asmnsrc_inc_pr100',
       ' slct_gov_pnsn_alw_prnting_payment_prtred_num',
       ' tot_p_inc_wkly_p_ov_15_yrs_p_earn_nil_inc_pr100',
       ' est_prsnl_inc_p80_p50_ratio',
       ' est_prsnl_inc_inc_share_top_5_pr100_earners_pr100',
       ' est_prsnl_inc_inc_share_top_10_pr100_earners_pr100',
       ' est_prsnl_inc_p80_p20_ratio',
       ' est_p_inc_tot_inc_earners_excl_gov_pnsn_num',
       ' est_prsnl_inc_inc_share_top_1_pr100_earners_pr100',
       ' slct_gov_pnsn_alw_age_pnsn_centrelink_num',
       ' est_prsnl_inc_p10_p50_ratio',
       ' tot_p_inc_wkly_p_ov_15_yrs_p_earn_aud3000_plswk_pr100',
       ' est_p_inc_super_annuity_inc_earners_med_age_yrs',
       ' est_p_inc_super_annuity_inc_asmnsrc_inc_pr100',
       ' est_p_inc_avg_own_unincorporated_bsns_inc_aud',
       ' est_p_inc_own_unincorporated_bsns_inc_earners_num',
       ' tot_p_inc_wkly_p_ov_15_yrs_p_negative_inc_pr100',
       ' slct_gov_pnsn_alw_inc_supp_supplement_dva_num',
       ' gross_capital_gains_rep_taxpayers_amount_audm',
       ' slct_gov_pnsn_alw_prnting_payment_single_num',
       ' slct_gov_pnsn_alw_yth_alw_oth_num',
       ' est_p_inc_med_investment_inc_aud',
       ' est_p_inc_emply_inc_earners_med_age_yrs',
       ' est_p_inc_med_tot_inc_excl_gov_pnsn_aud',
       ' est_p_inc_tot_emply_inc_aud',
       ' est_p_inc_emply_inc_asmnsrc_inc_pr100',
       ' est_p_inc_investment_inc_earners_num',
       ' est_p_inc_own_unincorporated_bsns_inc_earners_med_age_yrs',
       ' tot_p_inc_wkly_p_ov_15_yrs_p_earn_aud500_999wk_pr100',
       ' est_p_inc_med_super_annuity_inc_aud', ' yr',
       ' tot_p_inc_wkly_p_ov_15_yrs_p_earn_aud2000_2999wk_pr100',
       ' est_prsnl_inc_hi_quartile_pr100',
       ' est_p_inc_med_own_unincorporated_bsns_inc_aud',
       ' est_p_inc_emply_inc_earners_num', ' est_p_inc_avg_emply_inc_aud'],
      dtype='object')

In [17]:
cols = [" lga_code17" , ' lga_name17' , ' equiv_tot_hsld_inc_fam_lone_p_grp_hslds_med_wkly_aud', ' est_p_inc_med_tot_inc_excl_gov_pnsn_aud']

sub_df = df[cols]

sub_df.head()

,lga_code17,lga_name17,equiv_tot_hsld_inc_fam_lone_p_grp_hslds_med_wkly_aud,est_p_inc_med_tot_inc_excl_gov_pnsn_aud
0,10050,Albury (C),776,45504.0
1,10130,Armidale Regional (A),744,40733.0
2,10250,Ballina (A),745,39782.0
3,10300,Balranald (A),710,42282.0
4,10470,Bathurst Regional (A),817,47746.0

In [18]:
sub_df = sub_df.rename(columns={' equiv_tot_hsld_inc_fam_lone_p_grp_hslds_med_wkly_aud':"household_income" ,
                      ' est_p_inc_med_tot_inc_excl_gov_pnsn_aud':"personal_income"})

sub_df.head()

#  df.rename(index=str, columns={"A": "a", "C": "c"})

    lga_code17             lga_name17  household_income  personal_income
0        10050             Albury (C)               776          45504.0
1        10130  Armidale Regional (A)               744          40733.0
2        10250            Ballina (A)               745          39782.0
3        10300          Balranald (A)               710          42282.0
4        10470  Bathurst Regional (A)               817          47746.0

In [19]:
sub_df.sort_values(by = ['personal_income' , "household_income"] , ascending = False)

,lga_code17,lga_name17,household_income,personal_income
362,50250,Ashburton (S),1721,100665.0
448,56930,Peppermint Grove (S),1842,89795.0
457,57280,Port Hedland (T),1690,82349.0
337,46970,Roxby Downs (M),1632,82195.0
415,54310,Karratha (C),1650,81933.0
280,37300,Weipa (T),1571,81123.0
409,53220,East Pilbara (S),1516,76575.0
120,18500,Woollahra (A),1822,74076.0
38,15350,Mosman (A),1766,74068.0
392,52170,Cottesloe (T),1704,73724.0
47,15950,North Sydney (A),1764,72915.0
18,14100,Hunters Hill (A),1525,69912.0
237,35300,Mount Isa (C),1312,68995.0
273,33980,Isaac (R),1262,68564.0
376,51310,Cambridge (T),1515,68275.0
467,56580,Nedlands (C),1585,68221.0
27,14700,Lane Cove (A),1578,67210.0
411,54280,Kalgoorlie/Boulder (C),1260,66773.0
541,72800,Palmerston (C),1289,66171.0
432,55040,Leonora (S),1196,65914.0
368,50630,Boddington (S),1082,65042.0
472,57980,Subiaco (C),1381,64998.0
350,51960,Coolgardie (S),1083,64132.0
539,89399,Unincorporated ACT,1297,63061.0
524,72300,Litchfield (M),1278,62218.0
407,53150,East Fremantle (T),1325,62205.0
385,51750,Claremont (T),1413,62159.0
449,55740,Mosman Park (T),1234,61858.0
215,31750,Bulloo (S),924,61568.0
180,26350,Stonnington (C),1393,60483.0
...,...,...,...,...
257,36960,Torres Strait Island (R),454,33227.0
333,45540,Peterborough (DC),480,33187.0
69,11350,Byron (A),738,33178.0
348,48050,Victor Harbor (C),584,33160.0
235,35250,Mornington (S),432,32981.0
241,35760,North Burnett (R),605,32949.0
542,73600,Roper Gulf (R),433,32622.0
261,33100,Etheridge (S),628,32184.0
24,14550,Kyogle (A),550,31933.0
529,59370,York (S),688,31452.0
154,23940,Loddon (S),552,30965.0
516,65210,Tasman (M),557,30629.0
186,17400,Tenterfield (A),519,30036.0
484,60210,Break O'Day (M),502,29199.0
393,52380,Cue (S),550,29130.0
133,21270,Buloke (S),570,28980.0
209,30250,Aurukun (S),358,27998.0
304,43080,Karoonda East Murray (DC),545,27934.0
262,32770,Doomadgee (S),410,27698.0
521,71300,East Arnhem (R),395,27183.0
307,40250,Anangu Pitjantjatjara (AC),459,25272.0
274,34420,Kowanyama (S),457,22759.0
245,36070,Pormpuraaw (S),411,21642.0
276,34570,Lockhart River (S),430,20394.0
208,29399,Unincorporated Vic,791,20329.0
321,44000,Maralinga Tjarutja (AC),2750,NaN
456,56160,Murchison (S),1053,NaN
231,34830,Mapoon (S),504,NaN
446,56620,Ngaanyatjarraku (S),453,NaN
532,70540,Belyuen (S),361,NaN

### Population data

In [22]:
population_df = pd.read_csv("./population_data.csv")

population_df.head()

,est_res_pop_m_60_64_yrs_num,lga_code17,os_brn_pop_brn_s_central_asia_net_migrtn_pr100,aus_citizenship_aus_citizen_net_migrtn_pr100,est_res_pop_p_35_39_yrs_num,est_res_pop_p_45_54_yrs_pr100,reg_migrtn_reg_os_migrtn_net_migrtn_num,est_res_pop_f_5_9_yrs_num,est_res_pop_f_10_14_yrs_num,est_res_pop_f_80_84_yrs_num,...,reg_migrtn_reg_int_migrtn_dptrs_num,reg_migrtn_reg_int_migrtn_net_migrtn_num,est_res_pop_f_tot_num,births_dth_births_p_num,yr,reg_migrtn_reg_os_migrtn_dptrs_num,est_res_pop_f_45_49_yrs_num,est_res_pop_med_age_usual_res_erp_30_jun_f_yrs,est_res_pop_p_25_29_yrs_num,reg_migrtn_reg_int_migrtn_arrivals_num
0,1435.0,10050,2.5,88.2,3143,12.5,NaN,1597.0,1617.0,709.0,...,NaN,NaN,26887,746.0,2016,NaN,1708,39.4,3485.0,NaN
1,794.0,10130,1.7,85.7,1533,12.2,NaN,928.0,982.0,363.0,...,NaN,NaN,15629,336.0,2016,NaN,906,36.6,1961.0,NaN
2,1533.0,10250,0.3,89.3,2183,13.6,NaN,1205.0,1200.0,767.0,...,NaN,NaN,22198,368.0,2016,NaN,1552,48.2,1828.0,NaN
3,89.0,10300,0.5,86.3,137,12.3,NaN,84.0,73.0,29.0,...,NaN,NaN,1129,29.0,2016,NaN,55,40.4,129.0,NaN
4,1187.0,10470,0.9,87.3,2348,12.5,NaN,1411.0,1376.0,511.0,...,NaN,NaN,20994,474.0,2016,NaN,1349,38.1,2889.0,NaN

In [26]:
list(population_df.columns)

['est_res_pop_m_60_64_yrs_num',
 ' lga_code17',
 ' os_brn_pop_brn_s_central_asia_net_migrtn_pr100',
 ' aus_citizenship_aus_citizen_net_migrtn_pr100',
 ' est_res_pop_p_35_39_yrs_num',
 ' est_res_pop_p_45_54_yrs_pr100',
 ' reg_migrtn_reg_os_migrtn_net_migrtn_num',
 ' est_res_pop_f_5_9_yrs_num',
 ' est_res_pop_f_10_14_yrs_num',
 ' est_res_pop_f_80_84_yrs_num',
 ' est_res_pop_p_20_24_yrs_num',
 ' est_res_pop_p_60_64_yrs_num',
 ' aus_citizenship_aus_citizenship_ns_net_migrtn_pr100',
 ' relig_affil_seculr_oth_spirtl_no_relig_affil_net_migrtn_pr100',
 ' os_brn_pop_brn_n_e_asia_net_migrtn_pr100',
 ' est_res_pop_p_40_44_yrs_num',
 ' est_res_pop_p_75_84_yrs_pr100',
 ' est_res_pop_f_85_yrs_ov_num',
 ' os_brn_pop_brn_n_w_europe_net_migrtn_pr100',
 ' est_res_pop_f_75_79_yrs_num',
 ' est_res_pop_p_5_9_yrs_num',
 ' os_brn_pop_brn_sub_saharan_afr_net_migrtn_pr100',
 ' est_res_pop_m_70_74_yrs_num',
 ' est_res_pop_m_tot_num',
 ' est_res_pop_f_30_34_yrs_num',
 ' est_res_pop_f_35_39_yrs_num',
 ' est_res_pop_p_35_44_yrs_pr100',
 ' est_res_pop_p_65_74_yrs_pr100',
 ' lga_name17',
 ' os_brn_pop_tot_brn_os_net_migrtn_pr100',
 ' est_res_pop_p_0_4_yrs_num',
 ' est_res_pop_f_0_4_yrs_num',
 ' reg_migrtn_reg_os_migrtn_arrivals_num',
 ' est_res_pop_f_50_54_yrs_num',
 ' est_res_pop_m_25_29_yrs_num',
 ' est_res_pop_p_wrking_age_pop_15_64_yrs_pr100',
 ' est_res_pop_p_30_34_yrs_num',
 ' est_res_pop_med_age_usual_res_erp_30_jun_p_yrs',
 ' est_res_pop_p_80_84_yrs_num',
 ' est_res_pop_p_15_24_yrs_pr100',
 ' est_res_pop_p_45_49_yrs_num',
 ' est_res_pop_f_60_64_yrs_num',
 ' est_res_pop_p_75_79_yrs_num',
 ' est_res_pop_m_35_39_yrs_num',
 ' est_res_pop_m_15_19_yrs_num',
 ' est_res_pop_m_0_4_yrs_num',
 ' os_brn_pop_brn_n_afr_mid_e_net_migrtn_pr100',
 ' relig_affil_inadequately_described_ns_net_migrtn_pr100',
 ' os_brn_pop_brn_oceania_antarctica_exc_aus_net_migrtn_pr100',
 ' est_res_pop_p_55_64_yrs_pr100',
 ' est_res_pop_m_75_79_yrs_num',
 ' est_res_pop_m_5_9_yrs_num',
 ' est_res_pop_m_10_14_yrs_num',
 ' births_dth_stnd_death_rt_per_1000_pop_p_rate',
 ' est_res_pop_m_40_44_yrs_num',
 ' est_res_pop_m_45_49_yrs_num',
 ' relig_affil_buddhism_net_migrtn_pr100',
 ' est_res_pop_f_70_74_yrs_num',
 ' ab_torres_strait_islander_ppls_prop_tot_pop_net_migrtn_pr100',
 ' est_res_pop_p_0_14_yrs_pr100',
 ' est_res_pop_p_65_69_yrs_num',
 ' est_res_pop_m_80_84_yrs_num',
 ' births_dth_tot_fert_rt_per_f_p_rate',
 ' os_brn_pop_brn_s_e_europe_net_migrtn_pr100',
 ' est_res_pop_m_65_69_yrs_num',
 ' spks_lang_oth_than_eng_home_prop_tot_pop_net_migrtn_pr100',
 ' est_res_pop_p_15_19_yrs_num',
 ' est_res_pop_f_15_19_yrs_num',
 ' os_brn_pop_brn_s_e_asia_net_migrtn_pr100',
 ' relig_affil_christianity_net_migrtn_pr100',
 ' est_res_pop_p_10_14_yrs_num',
 ' est_res_pop_f_25_29_yrs_num',
 ' est_res_pop_p_25_34_yrs_pr100',
 ' est_res_pop_p_55_59_yrs_num',
 ' relig_affil_oth_religs_net_migrtn_pr100',
 ' est_res_pop_m_50_54_yrs_num',
 ' ogc_fid',
 ' relig_affil_islam_net_migrtn_pr100',
 ' relig_affil_hinduism_net_migrtn_pr100',
 ' est_res_pop_f_65_69_yrs_num',
 ' pop_density_pop_density_p_p_km2',
 ' est_res_pop_p_85_yrs_ov_pr100',
 ' est_res_pop_p_70_74_yrs_num',
 ' est_res_pop_med_age_usual_res_erp_30_jun_m_yrs',
 ' os_brn_pop_brn_americas_net_migrtn_pr100',
 ' est_res_pop_m_85_yrs_ov_num',
 ' est_res_pop_f_55_59_yrs_num',
 ' est_res_pop_m_55_59_yrs_num',
 ' est_res_pop_f_40_44_yrs_num',
 ' est_res_pop_p_50_54_yrs_num',
 ' est_res_pop_m_20_24_yrs_num',
 ' relig_affil_judaism_net_migrtn_pr100',
 ' est_res_pop_p_85_yrs_ov_num',
 ' aus_citizenship_no_aus_citizen_net_migrtn_pr100',
 ' births_dth_dth_p_num',
 ' est_res_pop_p_tot_num',
 ' est_res_pop_f_20_24_yrs_num',
 ' est_res_pop_m_30_34_yrs_num',
 ' reg_migrtn_reg_int_migrtn_dptrs_num',
 ' reg_migrtn_reg_int_migrtn_net_migrtn_num',
 ' est_res_pop_f_tot_num',
 ' births_dth_births_p_num',
 ' yr',
 ' reg_migrtn_reg_os_migrtn_dptrs_num',
 ' est_res_pop_f_45_49_yrs_num',
 ' est_res_pop_med_age_usual_res_erp_30_jun_f_yrs',
 ' est_res_pop_p_25_29_yrs_num',
 ' reg_migrtn_reg_int_migrtn_arrivals_num']

In [30]:
cols = [" lga_code17" , " lga_name17" , ' pop_density_pop_density_p_p_km2',' est_res_pop_p_tot_num' , ' est_res_pop_p_wrking_age_pop_15_64_yrs_pr100']

pop_sub_df = population_df[cols]

pop_sub_df = pop_sub_df.rename(columns={' pop_density_pop_density_p_p_km2':"population_density" ,
                                       ' est_res_pop_p_tot_num':"population",
                                      ' est_res_pop_p_wrking_age_pop_15_64_yrs_pr100':"working_age_population" })


pop_sub_df.head()

,lga_code17,lga_name17,population_density,population,working_age_population
0,10050,Albury (C),170.5,52171,63.6
1,10130,Armidale Regional (A),3.5,30313,65.2
2,10250,Ballina (A),88.7,42993,58.7
3,10300,Balranald (A),0.1,2330,62.9
4,10470,Bathurst Regional (A),11.1,42244,64.1

In [31]:


# pd.merge(df_new, df_n, on='subject_id')

join_df = pd.merge(pop_sub_df , sub_df , on=[" lga_code17", " lga_name17"])

join_df.head()

,lga_code17,lga_name17,population_density,population,working_age_population,household_income,personal_income
0,10050,Albury (C),170.5,52171,63.6,776,45504.0
1,10130,Armidale Regional (A),3.5,30313,65.2,744,40733.0
2,10250,Ballina (A),88.7,42993,58.7,745,39782.0
3,10300,Balranald (A),0.1,2330,62.9,710,42282.0
4,10470,Bathurst Regional (A),11.1,42244,64.1,817,47746.0

In [32]:
join_df.sort_values(by=['population'] , ascending = False)

,lga_code17,lga_name17,population_density,population,working_age_population,household_income,personal_income
224,31000,Brisbane (C),882.4,1184752,70.1,1065,51708.0
266,33430,Gold Coast (C),431.4,575303,65.7,859,44016.0
235,35010,Moreton Bay (R),215.2,439292,63.7,834,47407.0
464,89399,Unincorporated ACT,170.9,403104,68.9,1297,63061.0
63,11570,Canterbury-Bankstown (A),3281.8,361862,65.9,715,42542.0
9,10750,Blacktown (C),1449.8,348030,67.1,895,50647.0
65,11650,Central Coast (C) (NSW),200.2,336611,61.0,774,44951.0
278,34590,Logan (C),328.3,314511,65.7,808,46810.0
136,21610,Casey (C),764.0,312789,67.2,842,46719.0
254,36720,Sunshine Coast (R),134.4,302841,61.9,785,41566.0
48,15990,Northern Beaches (A),1044.3,265468,63.9,1266,54783.0
192,22750,Greater Geelong (C),191.9,239529,63.7,786,45141.0
52,16260,Parramatta (C),2796.7,234444,69.6,1012,49048.0
204,27260,Wyndham (C),418.8,227008,67.8,891,48741.0
181,17150,Sutherland Shire (A),678.9,226461,64.3,1136,54766.0
76,12380,Cumberland (A),3154.3,225691,68.6,736,40890.0
182,17200,Sydney (C),8328.1,222717,84.7,1363,53393.0
453,57910,Stirling (C),2101.4,220073,68.1,1020,53876.0
31,14900,Liverpool (C),693.3,211983,67.1,805,48520.0
119,18450,Wollongong (C),307.6,210394,64.8,812,48236.0
202,27070,Whittlesea (C),422.8,207058,67.1,807,46482.0
149,23270,Hume (C),410.9,207041,67.6,756,45331.0
80,12850,Fairfield (C),2026.2,205675,67.4,630,42326.0
132,21180,Brimbank (C),1654.7,204190,68.2,700,42978.0
26,14650,Lake Macquarie (C),311.9,202332,61.4,801,47059.0
53,16350,Penrith (C),498.1,201597,67.4,937,52203.0
272,33960,Ipswich (C),184.4,200103,65.8,824,48936.0
486,58760,Wanneroo (C),285.1,194779,67.3,960,51673.0
165,24970,Monash (C),2364.0,192625,67.3,878,44817.0
259,37010,Townsville (C),51.3,191348,68.0,888,52134.0
...,...,...,...,...,...,...,...
380,51470,Carnamah (S),0.2,564,66.1,764,42898.0
438,55950,Mukinbudin (S),0.2,553,61.1,828,48304.0
440,55880,Mount Marshall (S),0.1,533,62.9,749,53321.0
490,59330,Wyalkatchem (S),0.3,522,56.5,600,46702.0
439,55390,Menzies (S),NaN,518,77.6,612,34786.0
435,55810,Mount Magnet (S),NaN,507,64.7,675,41316.0
481,74560,Wagait (S),87.3,492,66.7,1010,60000.0
443,55530,Mingenew (S),0.2,465,68.6,853,39689.0
485,58680,Wandering (S),0.2,458,62.0,927,54923.0
222,30900,Boulia (S),NaN,436,72.7,810,47844.0
431,54690,Koorda (S),0.2,428,59.8,703,50991.0
531,59320,Woodanilling (S),0.4,415,62.7,812,48265.0
474,58190,Tammin (S),0.4,407,63.9,852,43024.0
217,31750,Bulloo (S),NaN,356,70.8,924,61568.0
483,58400,Trayning (S),0.2,354,61.9,725,47621.0
492,59350,Yalgoo (S),NaN,350,82.6,1069,39530.0
216,31950,Burke (S),NaN,342,75.7,784,39551.0
231,34830,Mapoon (S),0.6,318,67.0,504,NaN
488,59030,Westonia (S),0.1,306,71.9,833,58280.0
257,32750,Diamantina (S),NaN,296,78.4,1192,55041.0
227,32600,Croydon (S),NaN,296,66.9,769,36327.0
294,37570,Wujal Wujal (S),24.7,292,72.3,403,36369.0
494,58470,Upper Gascoyne (S),NaN,282,65.6,537,59342.0
213,30450,Barcoo (S),NaN,272,72.1,918,45006.0
449,56860,Nungarin (S),0.2,259,69.9,638,45760.0
394,52380,Cue (S),NaN,199,71.4,550,29130.0
538,70540,Belyuen (S),4.2,175,74.9,361,NaN
462,56160,Murchison (S),NaN,158,75.9,1053,NaN
471,57630,Sandstone (S),NaN,93,69.9,774,33964.0
319,44000,Maralinga Tjarutja (AC),NaN,62,100.0,2750,NaN

In [33]:
join_df.sort_values(by=['personal_income', 'household_income'] , ascending = False)

,lga_code17,lga_name17,population_density,population,working_age_population,household_income,personal_income
363,50250,Ashburton (S),0.1,13311,84.6,1721,100665.0
448,56930,Peppermint Grove (S),1599.7,1708,64.1,1842,89795.0
456,57280,Port Hedland (T),0.8,15064,72.5,1690,82349.0
338,46970,Roxby Downs (M),36.7,4052,72.4,1632,82195.0
413,54310,Karratha (C),1.5,22211,72.5,1650,81933.0
280,37300,Weipa (T),373.3,4040,71.0,1571,81123.0
407,53220,East Pilbara (S),NaN,10953,82.6,1516,76575.0
120,18500,Woollahra (A),4703.2,57744,66.3,1822,74076.0
38,15350,Mosman (A),3498.1,30260,63.8,1766,74068.0
393,52170,Cottesloe (T),2102.7,8109,64.9,1704,73724.0
47,15950,North Sydney (A),6848.3,71809,73.2,1764,72915.0
17,14100,Hunters Hill (A),2563.6,14656,59.9,1525,69912.0
237,35300,Mount Isa (C),0.4,19606,69.0,1312,68995.0
273,33980,Isaac (R),0.4,21543,69.5,1262,68564.0
376,51310,Cambridge (T),1274.9,27991,63.4,1515,68275.0
469,56580,Nedlands (C),1125.4,22108,62.7,1585,68221.0
27,14700,Lane Cove (A),3597.0,37694,68.1,1578,67210.0
409,54280,Kalgoorlie/Boulder (C),0.3,30840,70.1,1260,66773.0
542,72800,Palmerston (C),683.3,35978,70.0,1289,66171.0
433,55040,Leonora (S),NaN,1491,76.6,1196,65914.0
368,50630,Boddington (S),1.0,1882,66.1,1082,65042.0
476,57980,Subiaco (C),3029.1,17018,66.3,1381,64998.0
352,51960,Coolgardie (S),0.1,3695,68.9,1083,64132.0
464,89399,Unincorporated ACT,170.9,403104,68.9,1297,63061.0
535,72300,Litchfield (M),8.7,25355,74.7,1278,62218.0
405,53150,East Fremantle (T),2447.1,7680,65.8,1325,62205.0
386,51750,Claremont (T),2145.5,10632,62.2,1413,62159.0
458,55740,Mosman Park (T),2108.7,9167,65.4,1234,61858.0
217,31750,Bulloo (S),NaN,356,70.8,924,61568.0
180,26350,Stonnington (C),4327.4,111003,72.7,1393,60483.0
...,...,...,...,...,...,...,...
258,36960,Torres Strait Island (R),9.7,4775,60.4,454,33227.0
332,45540,Peterborough (DC),0.6,1712,59.4,480,33187.0
68,11350,Byron (A),59.0,33399,66.9,738,33178.0
350,48050,Victor Harbor (C),39.0,15011,48.3,584,33160.0
236,35250,Mornington (S),1.0,1197,63.9,432,32981.0
241,35760,North Burnett (R),0.5,10646,58.7,605,32949.0
478,73600,Roper Gulf (R),NaN,7329,66.6,433,32622.0
261,33100,Etheridge (S),NaN,807,62.3,628,32184.0
24,14550,Kyogle (A),2.5,9114,61.3,550,31933.0
536,59370,York (S),1.7,3605,56.9,688,31452.0
154,23940,Loddon (S),1.1,7558,57.9,552,30965.0
525,65210,Tasman (M),3.6,2389,57.6,557,30629.0
186,17400,Tenterfield (A),0.9,6697,57.7,519,30036.0
493,60210,Break O'Day (M),1.8,6198,57.9,502,29199.0
394,52380,Cue (S),NaN,199,71.4,550,29130.0
133,21270,Buloke (S),0.8,6284,56.3,570,28980.0
209,30250,Aurukun (S),0.2,1323,69.3,358,27998.0
288,43080,Karoonda East Murray (DC),0.3,1121,56.6,545,27934.0
264,32770,Doomadgee (S),0.8,1475,58.3,410,27698.0
533,71300,East Arnhem (R),0.3,10252,68.9,395,27183.0
305,40250,Anangu Pitjantjatjara (AC),NaN,2498,70.8,459,25272.0
274,34420,Kowanyama (S),0.4,983,69.9,457,22759.0
245,36070,Pormpuraaw (S),0.2,785,66.2,411,21642.0
276,34570,Lockhart River (S),0.2,746,63.9,430,20394.0
208,29399,Unincorporated Vic,3.2,892,74.2,791,20329.0
319,44000,Maralinga Tjarutja (AC),NaN,62,100.0,2750,NaN
462,56160,Murchison (S),NaN,158,75.9,1053,NaN
231,34830,Mapoon (S),0.6,318,67.0,504,NaN
445,56620,Ngaanyatjarraku (S),NaN,1708,70.1,453,NaN
538,70540,Belyuen (S),4.2,175,74.9,361,NaN

In [34]:


join_df.shape[0]

544

In [61]:
print(join_df['personal_income'].quantile([0.0 , 0.3]))
print(join_df['personal_income'].quantile([0.7 , 1]))
# df.quantile([.1, .5])

0.0    20329.0
0.3    40700.6
Name: personal_income, dtype: float64
0.7     48364.4
1.0    100665.0
Name: personal_income, dtype: float64

In [45]:
list(join_df['personal_income'].quantile([0.0 , 0.3]))

[20329.0, 40700.6]

In [62]:
def is_in_income_rage(income,income_range):
    
    R = list(join_df['personal_income'].quantile(income_range))
    
    return income >= R[0] and income <= R[1]


is_in_income_rage(30000 ,[0.0 , 0.3] )

True

In [50]:
join_df[['population' , "personal_income" ," lga_name17"]].sort_values(by=['population'] , ascending=False)

     population  personal_income                lga_name17
224     1184752          51708.0              Brisbane (C)
266      575303          44016.0            Gold Coast (C)
235      439292          47407.0           Moreton Bay (R)
464      403104          63061.0        Unincorporated ACT
63       361862          42542.0  Canterbury-Bankstown (A)
9        348030          50647.0             Blacktown (C)
65       336611          44951.0   Central Coast (C) (NSW)
278      314511          46810.0                 Logan (C)
136      312789          46719.0                 Casey (C)
254      302841          41566.0        Sunshine Coast (R)
48       265468          54783.0      Northern Beaches (A)
192      239529          45141.0       Greater Geelong (C)
52       234444          49048.0            Parramatta (C)
204      227008          48741.0               Wyndham (C)
181      226461          54766.0      Sutherland Shire (A)
76       225691          40890.0            Cumberland (A)
182      222717          53393.0                Sydney (C)
453      220073          53876.0              Stirling (C)
31       211983          48520.0             Liverpool (C)
119      210394          48236.0            Wollongong (C)
202      207058          46482.0            Whittlesea (C)
149      207041          45331.0                  Hume (C)
80       205675          42326.0             Fairfield (C)
132      204190          42978.0              Brimbank (C)
26       202332          47059.0        Lake Macquarie (C)
53       201597          52203.0               Penrith (C)
272      200103          48936.0               Ipswich (C)
486      194779          51673.0              Wanneroo (C)
165      192625          44817.0                Monash (C)
259      191348          52134.0            Townsville (C)
..          ...              ...                       ...
380         564          42898.0              Carnamah (S)
438         553          48304.0            Mukinbudin (S)
440         533          53321.0        Mount Marshall (S)
490         522          46702.0           Wyalkatchem (S)
439         518          34786.0               Menzies (S)
435         507          41316.0          Mount Magnet (S)
481         492          60000.0                Wagait (S)
443         465          39689.0              Mingenew (S)
485         458          54923.0             Wandering (S)
222         436          47844.0                Boulia (S)
431         428          50991.0                Koorda (S)
531         415          48265.0          Woodanilling (S)
474         407          43024.0                Tammin (S)
217         356          61568.0                Bulloo (S)
483         354          47621.0              Trayning (S)
492         350          39530.0                Yalgoo (S)
216         342          39551.0                 Burke (S)
231         318              NaN                Mapoon (S)
488         306          58280.0              Westonia (S)
257         296          55041.0            Diamantina (S)
227         296          36327.0               Croydon (S)
294         292          36369.0           Wujal Wujal (S)
494         282          59342.0        Upper Gascoyne (S)
213         272          45006.0                Barcoo (S)
449         259          45760.0              Nungarin (S)
394         199          29130.0                   Cue (S)
538         175              NaN               Belyuen (S)
462         158              NaN             Murchison (S)
471          93          33964.0             Sandstone (S)
319          62              NaN   Maralinga Tjarutja (AC)

[544 rows x 3 columns]

In [73]:
tmp_df = join_df[[" lga_name17" , " lga_code17",'population' , "personal_income" ]]
tmp_df['low_income'] = tmp_df['personal_income'].map(lambda income: is_in_income_rage(income , [0,0.3]))
tmp_df['high_income'] = tmp_df['personal_income'].map(lambda income: is_in_income_rage(income , [0.8,1.0]))
tmp_df.head()

/Users/ethanchen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/ethanchen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,lga_name17,lga_code17,population,personal_income,low_income,high_income
0,Albury (C),10050,52171,45504.0,False,False
1,Armidale Regional (A),10130,30313,40733.0,False,False
2,Ballina (A),10250,42993,39782.0,True,False
3,Balranald (A),10300,2330,42282.0,False,False
4,Bathurst Regional (A),10470,42244,47746.0,False,False

In [92]:
tmp_df[tmp_df.low_income == True].sort_values(by=['population'] , ascending=False).head(50)

,lga_name17,lga_code17,population,personal_income,low_income,high_income
191,Greater Dandenong (C),22670,160222,39845.0,True,False
263,Fraser Coast (R),33220,102962,38664.0,True,False
98,Shoalhaven (C),16950,101942,38791.0,True,False
221,Bundaberg (R),31820,94256,38891.0,True,False
103,Tweed (A),17550,93742,39362.0,True,False
35,Mid-Coast (A),15240,91801,35736.0,True,False
54,Port Macquarie-Hastings (A),16380,80073,39210.0,True,False
72,Coffs Harbour (C),11800,74670,39529.0,True,False
240,Noosa (S),35740,53922,37763.0,True,False
70,Clarence Valley (A),11730,51622,36860.0,True,False
269,Gympie (R),33620,50327,36640.0,True,False
141,East Gippsland (S),22110,45600,37018.0,True,False
29,Lismore (C),14850,44122,40074.0,True,False
2,Ballina (A),10250,42993,39782.0,True,False
250,Scenic Rim (R),36510,40984,40675.0,True,False
277,Lockyer Valley (R),34580,39499,40476.0,True,False
79,Eurobodalla (A),12750,37919,35593.0,True,False
134,Campaspe (S),21370,37595,39782.0,True,False
253,Southern Downs (R),36660,35638,36058.0,True,False
6,Bega Valley (A),10550,33941,37270.0,True,False
127,Bass Coast (S),20740,33464,35998.0,True,False
68,Byron (A),11350,33399,33178.0,True,False
252,South Burnett (R),36630,32625,38012.0,True,False
164,Moira (S),24900,29486,38265.0,True,False
21,Kempsey (A),14350,29431,36161.0,True,False
220,Cassowary Coast (R),32260,29287,38181.0,True,False
178,South Gippsland (S),26170,29122,36585.0,True,False
304,Alexandrina (DC),40220,26562,37647.0,True,False
255,Tablelands (R),36820,25217,35862.0,True,False
58,Richmond Valley (A),16610,23256,39299.0,True,False
233,Mareeba (S),34880,22038,38010.0,True,False
326,Murray Bridge (RC),45040,21562,38497.0,True,False
138,Colac-Otway (S),21750,21362,39721.0,True,False
195,Swan Hill (RC),26610,20896,40592.0,True,False
42,Nambucca (A),15700,19580,34830.0,True,False
170,Mount Alexander (S),25430,19097,38383.0,True,False
19,Inverell (A),14200,16812,40664.0,True,False
512,Huon Valley (M),63010,16563,38701.0,True,False
139,Corangamite (S),21830,16243,37852.0,True,False
179,Southern Grampians (S),26260,16123,39234.0,True,False
145,Hepburn (S),22910,15525,37838.0,True,False
350,Victor Harbor (C),48050,15011,33160.0,True,False
364,Augusta-Margaret River (S),50280,14819,38719.0,True,False
306,Copper Coast (DC),41560,14472,39174.0,True,False
172,Murrindindi (S),25620,14052,37674.0,True,False
130,Benalla (RC),21010,13982,38821.0,True,False
137,Central Goldfields (S),21670,13087,35144.0,True,False
7,Bellingen (A),10600,12951,35835.0,True,False
75,Cowra (A),12350,12659,38659.0,True,False
123,Alpine (S),20110,12578,36669.0,True,False

In [89]:
tmp_df[tmp_df.high_income == True].sort_values(by=['population'] , ascending=False).head(20)

,lga_name17,lga_code17,population,personal_income,low_income,high_income
464,Unincorporated ACT,89399,403104,63061.0,False,True
48,Northern Beaches (A),15990,265468,54783.0,False,True
181,Sutherland Shire (A),17150,226461,54766.0,False,True
182,Sydney (C),17200,222717,53393.0,False,True
453,Stirling (C),57910,220073,53876.0,False,True
53,Penrith (C),16350,201597,52203.0,False,True
259,Townsville (C),37010,191348,52134.0,False,True
18,Inner West (A),14170,191194,59101.0,False,True
131,Boroondara (C),21110,177276,57306.0,False,True
102,The Hills Shire (A),17420,162975,54352.0,False,True
417,Joondalup (C),54170,160918,54080.0,False,True
57,Randwick (C),16550,148922,57927.0,False,True
188,Glen Eira (C),22310,148583,53099.0,False,True
95,Hornsby (A),14000,147385,52738.0,False,True
472,Swan (C),58050,136679,52874.0,False,True
460,Rockingham (C),57490,128992,54561.0,False,True
166,Moonee Valley (C),25060,122871,53959.0,False,True
23,Ku-ring-gai (A),14500,122472,58598.0,False,True
228,Mackay (R),34770,117218,52740.0,False,True
180,Stonnington (C),26350,111003,60483.0,False,True

In [ ]:
tmp_df.filter(lambda)

In [96]:
tmp_df['digit'] = tmp_df[' lga_code17'].map(lambda s: str(s)[0])

tmp_df.groupby("digit").count()

,lga_name17,lga_code17,population,personal_income,low_income,high_income
digit,,,,,,
1,129,129,129,129,129,129
2,80,80,80,80,80,80
3,78,78,78,77,78,78
4,71,71,71,70,71,71
5,137,137,137,135,137,137
6,29,29,29,29,29,29
7,18,18,18,17,18,18
8,1,1,1,1,1,1
9,1,1,1,1,1,1

In [79]:







# double CoordDistance(double latitude1, double longitude1, double latitude2, double longitude2)
# {
#     return 6371 * Math.acos(
#         Math.sin(latitude1) * Math.sin(latitude2)
#         + Math.cos(latitude1) * Math.cos(latitude2) * Math.cos(longitude2 - longitude1));
# }



#  -38.077663,145.129658
    
def coordDistance(lat1 , long1 , lat2 , long2):
    
    return 6371 * math.acos(
        math.sin(lat1) * math.sin(lat2) +
        math.cos(lat1) * math.cos(lat2)*math.cos(long2- long1)
    )

In [78]:
import math

In [82]:
coordDistance(145.203828 , -38.006111 ,145.129658,-38.077663 )

595.0666717791718

In [83]:
def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [84]:
distance((-38.006111, 145.203828) , (-38.077663,145.129658))

10.270829109237157

In [85]:
distance(( -37.813628,144.963058) , ( -38.433859,144.593742))

76.15785866396386

In [86]:
def find_box_center(north_east ,south_west):
    
    
    p1 = (north_east[0] + south_west[0]) /2
    
    p2 = (north_east[1] + south_west[1]) /2
    
    return (p1,p2)

distance(find_box_center([-37.511274,145.512529] , [-38.433859,144.593742]) ,
        ( -38.433859,144.593742))

65.13314938708533

In [ ]:
def calculate_radius(north_east ,south_west):
    
    center = find_box_center(north_east ,south_west)
    
    return distance(center , south_west)